img.icon {
  height: 100px;
  width: 100px;
}

div.content-block {
  background-color: #faf9fc;
  border: 1px solid silver;
  border-radius: 10px;
  font-family: serif;
  margin-bottom: 20px;
}

td.description {
  padding: 1em;
  word-wrap: break-word;
}

td.description ul {
  margin-left: 0em;
  padding-inline-start: 20px;
  margin-top: 0.5px;
}

td.description p {
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}

td.project-icon {
  padding-left: 0.5em;
}
