.imgtable {
  display: flex;
  flex-direction: row;
}

div.text-body {
  /* padding: 2px; */
  padding-left: 0.5em;
  padding-right: 0em;
  padding-top: 0;
}

div.image {
  padding-left: 0;
}

p {
  margin-block-start: 0em;
  text-align: justify;
}
img.selfie {
  /* height: 16vw;
    width: 20vw; */
  height: 230px;
  width: 275px;
  padding-right: 0.5vw;
  border-radius: 15px;
}

div.rectangle-box {
  margin-top: 0px;
  border-bottom: 1px solid rgb(100, 100, 100);
}

/* td.education-first-column {
    column-span: ;
  } */

td.education-second-column {
  text-align: right;
  margin-left: 50px;
  font-weight: normal;
}

table.education-form {
  width: 100%;
  margin-top: 10px;
}

table.education-form td {
  font-family: "Times New Roman", Times, serif;
}

td.education-form {
  padding: 10px;
}
