.gallery-container {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "pic1 desc1"
    "desc2 pic2"
    "pic3 desc3"
    "desc4 pic4";
  margin: 0 auto;
  column-gap: 1vw;
  row-gap: 0.5vw;
}

.gallery-container > pic1 {
  grid-area: pic1;
  /* background-color: #ffc0cb; */
}
.gallery-container > pic2 {
  grid-area: pic2;
  /* background-color: #ffc0cb; */
}

.gallery-container > pic3 {
  grid-area: pic3;
  /* background-color: #ffc0cb; */
}

.gallery-container > pic4 {
  grid-area: pic4;
  /* background-color: #ffc0cb; */
}

.gallery-container > desc1 {
  grid-area: desc1;
  /* background-color: #ffc0cb; */
}
.gallery-container > desc2 {
  grid-area: desc2;
  /* background-color: #ffc0cb; */
}

.gallery-container > desc3 {
  grid-area: desc3;
  /* background-color: #ffc0cb; */
}

.gallery-container > desc4 {
  grid-area: desc4;
  /* background-color: #ffc0cb; */
}

img.gallery-pic {
  width: 28vw;
  border-radius: 10px;
}

div.desc-text {
  display: inline-block;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4vw;
  font-style: italic;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  word-wrap: break-word;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  border: 0.5px dashed rgb(210, 210, 210);
}

div.pic-container {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

@media (max-width: 600px){
  .gallery-container {
    width: 95%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "pic1 desc1"
      "pic2 desc2"
      "pic3 desc3"
      "pic4 desc4";
    margin: 0 auto;
    column-gap: 10px;
    row-gap: 10px;
  }
  
  .gallery-container > pic1 {
    grid-area: pic1;
    /* background-color: #ffc0cb; */
  }
  .gallery-container > pic2 {
    grid-area: pic2;
    /* background-color: #ffc0cb; */
  }
  
  .gallery-container > pic3 {
    grid-area: pic3;
    /* background-color: #ffc0cb; */
  }
  
  .gallery-container > pic4 {
    grid-area: pic4;
    /* background-color: #ffc0cb; */
  }
  
  .gallery-container > desc1 {
    grid-area: desc1;
    /* background-color: #ffc0cb; */
  }
  .gallery-container > desc2 {
    grid-area: desc2;
    /* background-color: #ffc0cb; */
  }
  
  .gallery-container > desc3 {
    grid-area: desc3;
    /* background-color: #ffc0cb; */
  }
  
  .gallery-container > desc4 {
    grid-area: desc4;
    /* background-color: #ffc0cb; */
  }
  
  img.gallery-pic {
    width: 60vw;
    border-radius: 10px;
  }
  
  div.desc-text {
    display: inline-block;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 3.5vw;
    font-style: italic;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .5em;
    word-wrap: break-word;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    border: 0.5px dashed rgb(210, 210, 210);
  }
  
  div.pic-container {
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
  }

}